.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 8rem;
}
.main__section p {
  color: #9c9c9c;
}
.main__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem;
}
.main__heading p {
  margin-top: 1rem;
  width: 50%;
}
.main__work {
  display: flex;
  margin: 2rem 0;
}
.content__outer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
.work__content {
  margin-left: 3rem;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.work__content p {
  width: 80%;
  margin: 1rem 0;
}
.tag {
  padding: 0.4rem;
  font-size: 13px;
  font-weight: 700;
  border-radius: 90px;
  margin-bottom: 1rem;
}
.tag--1 {
  background-color: #fff6e9;
  color: #ffa217;
}
.tag--2 {
  background-color: #d0e6ff;
  color: #000aff;
}
.tag--3 {
  background-color: #e0fff8;
  color: #2ab090;
}
.work__content button {
  border: none;
  margin: 1rem 0 2rem;
  padding: 0.5rem 2rem;
  color: #ffffff;
  cursor: pointer;
}
.work--1 button {
  background-color: #ffa217;
}
.work--2 button {
  background-color: #000aff;
}
.work--3 button {
  background-color: #2ab090;
}

.work__image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.work__image img {
  width: 80%;
}
.work--2 {
  flex-direction: row-reverse;
}
.work--2 .content__outer {
  justify-content: flex-start;
}
.work--2 .work__image {
  justify-content: flex-end;
}

@media screen and (max-width: 900px) {
  .main__section {
    margin: 3rem 1rem;
  }
  .main__heading {
    margin: 0;
  }
  .main__heading p {
    width: 100%;
  }
  .main__work {
    flex-direction: column;
    align-items: center;
  }
  .content__outer {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  .work__content {
    margin: 0;
    display: flex;

    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .work__content p {
    width: 100%;
    margin: 1rem 0;
  }
  .work__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .work--2 .work__image {
    justify-content: center;
  }
}
